body {
  background-color: #f2b872;
  color: #666666;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 5px;
}
